.container {
  width: 1440px;
  height: 540px;
  background-color: #fff;

  p{
    color: #3d3d3d;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
}

.sectionContents {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h2{
    margin-top: 80px;
    margin-bottom: 16px;
    color: #3d3d3d;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }

  p {
    color: #3d3d3d;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
  }

  a {
    text-decoration: underline;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5e20a4;
    text-align: center;
    margin-top: 24px;
  }
}

.sectionNav {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-left: 128px;
  padding-right: 128px;
  margin-bottom: 70px;
  nav {
    margin-top: 82px;

    a {
      color: #3d3d3d;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      margin-left: 29px;
    }
    img {
      margin-left: 16px;
    }
  }
  .sectionLogo {
    margin-top: 80px;
  }
} 

@media (max-width: 360px){
  .container {
    width: 360px;
    height: 574px;
    margin-top: 750px;

    div {
      border-top: 2px solid #dfdfdf;
      width: 328px;
      margin-top: 60px;
      margin-bottom: 40px;
      margin-left: 20px;
    }
  }

  .sectionContents {

    h2 {
      margin-top: 20px;
      margin-bottom: 5px;
      text-align: center;
      color: #4a4a4a;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-size: 22px;
    }

    p{
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  .sectionNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    height: 200px;
    nav {
      margin-top: 0;
    }
    h2 {
      margin-bottom: 10px;
      margin-top: 50PX;
    }
  }

  .sectionTerms {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 360px;
      height: 70px;
      margin-bottom: 20px;

      a{
       width: 120px;
       text-align: center;
      }
    }
    .sectionNavSocial {
      display: flex;
      margin-right: 80px;
      a{
        width: 30px;
      }
    }
    .sectionLogo{
      margin-bottom: 30px;
    }
  }
  